In [3]:
output=list()
for i in range(1,6):
    output.append(i)
    output.append(i**2)

print(output)

[1, 1, 2, 4, 3, 9, 4, 16, 5, 25]

In [4]:
list1=["Tom","Jerry","Spike", "Aravindan", "LmAo"]

def secondLetter(list):
    for string in list:
        if len(string) > 1:
            print(string[1])

secondLetter(list1)

o
e
p
r
m

In [6]:
t=(10,)
print(type(t))
l=[1,2,3,4]
t1=tuple(l)

print(type(t1))
print(t1[::-1])

t2=(4,43,42)
t1=t1+t2
print(t1)
print(type(t1))

t5=t2*4
print(t5)
print(t5.count(5))

<class 'tuple'>
<class 'tuple'>
(4, 3, 2, 1)
(1, 2, 3, 4, 4, 43, 42)
<class 'tuple'>
(4, 43, 42, 4, 43, 42, 4, 43, 42, 4, 43, 42)
0

In [9]:
a=10
b=20
c=30
d=40

#Packing
t1=a,b,c,d
print(type(t1))
print(t1)

#Unpacking
q,*r,s=t1
print(r)
print(type(s))

tup=(k*2 for k in range(200,220))
print(tup)

<class 'tuple'>
(10, 20, 30, 40)
[20, 30]
<class 'int'>
<generator object <genexpr> at 0x000002C73A009700>

In [14]:
set1 = {"tommy","TOMMY",False,3,4,5,6,True,1}
print(set1)

set1.add("Hello")
set1.update("2","3")
print(set1)

{'TOMMY', False, True, 3, 4, 5, 6, 'tommy'}
{'TOMMY', False, True, 3, 4, 5, 6, 'Hello', '2', '3', 'tommy'}

In [19]:
s = {"tommy","TOMMY",False,3,4,5,6,True,1}

s.pop()
print(s)

s.discard(99)
print(s)

s.remove("tommy")
print(s)

{False, True, 3, 4, 5, 6, 'tommy'}
{False, True, 3, 4, 5, 6, 'tommy'}
{False, True, 3, 4, 5, 6}

In [6]:
a={1,2,3,14}
b={1,2,13,14,15}

print(a.union(b))
print(a|b)
print(a.intersection(b))
print(a&b)
print(a.difference(b))

print(a.symmetric_difference(b)) #Union-Intersection

{1, 2, 3, 13, 14, 15}
{1, 2, 3, 13, 14, 15}
{1, 2, 14}
{1, 2, 14}
{3}
{3, 13, 15}

In [15]:
list = (1,2,4,3,2,7,88,88)
duplicate=[]
output=[]


for x in list:
    if x in list:
        duplicate.append(x)
    else:
        output.add(x)

print(duplicate)
print(output)

[1, 2, 4, 3, 2, 7, 88, 88]
[]

In [23]:
list = [1,2,4,3,2,7,88,88]

duplicate = set([x for x in list if list.count(x) > 1])
print(duplicate)

unique = []
[unique.append(i) for i in list if i not in unique]
print(unique)

{88, 2}
[1, 2, 4, 3, 7, 88]

In [5]:
ops = ['+', '-', '*', '/', '%']

n1,n2,n3 = map(str,input().split())
if((n1.isdigit()) and (n2 in ops) and (n3.isdigit())):
    if(n2 == '+'):
        print(int(n1)+int(n3))
    elif(n2 == '-'):
        print(int(n1)-int(n3))
    elif(n2 == '/'):
        print(int(n1)/int(n3))
    elif(n2 == '*'):
        print(int(n1)*int(n3))
else:
    print("Invalid Input")

-2

In [11]:
sem1 = [24,38,7,53,80]
sem2 = [56,78,89,90,67]
sem3 = [24,57,68,89,90]
person = ["1001","Jerry"]

details = {}

details["id"]=person[0]
details["name"]=person[1]
details["avgsem1"]=sum(sem1)/len(sem1)
details["avgsem2"]=sum(sem2)/len(sem2)
details["avgsem3"]=sum(sem3)/len(sem3)

print(details)

{'id': '1001', 'name': 'Jerry', 'avgsem1': 40.4, 'avgsem2': 76.0, 'avgsem3': 65.6}